.header {
  background-image: url("data:image/svg+xml,%3Csvg id='header' width='200' height='200' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' r='100' fill='%23FFAB08'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 610px;
  padding: 21px 10px 30px;
  color: #fff;
}
.header__logo {
  width: 155px;
  padding-left: 3px;
  margin: 0 auto 21px;
}
.header__content {
  min-height: 345px;
  align-items: center;
}

.header__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 120%;
  margin: 0 auto 16px;
  text-align: center;
}
.header__title--red {
  color: #ff5c00;
}
.header__info {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 38px;
}
.header__burger_container {
  margin: 0 auto;
  width: 227px;
  height: 229px;
}
.header__burger_container img {
  width: 176px;
  height: 203px;
  margin: 18px auto 8px;
}

@media (min-width: 460px) {
  .header {
    background-size: 2540px;
    padding-bottom: 44px;
  }
  .header__logo {
    width: 156px;
    padding-left: 3px;
    margin: 0 auto 21px;
  }
  .header__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    min-height: 229px;
  }
  .header__text_content {
    padding-bottom: 0;
    max-width: 325px;
    margin-left: 10px;
  }
  .header__title {
    font-size: 36px;
    margin: 27px 0 26px;
    text-align: left;
  }
  .header__info {
    text-align: left;
  }
  .header__burger_container {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .header {
    background-size: 2880px;
    padding-bottom: 63px;
  }
  .header__logo {
    width: 156px;
    padding-left: 3px;
    margin: 0 auto 21px;
  }
  .header__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    min-height: 326px;
  }
  .header__text_content {
    padding-top: 10px;
    padding-bottom: 0;
    max-width: 437px;
    margin-left: 1px;
  }
  .header__title {
    font-size: 50px;
    margin: 36px 0 55px;
    text-align: left;
  }
  .header__info {
    text-align: left;
    font-size: 16px;
  }
  .header__burger_container {
    margin: 0;
    width: 326px;
    height: 326px;
  }
  .header__burger_container img {
    width: 253px;
    height: 290px;
    margin: 27px auto 9px;
  }
}
